@(reviews:List[PullReview])

@main("Open Pull Reviews: Betterrev", false, true, false, false, false) {

    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Repository <i class="glyphicon glyphicon-question-sign" rel="tooltip" title='@Messages("pullreview.list.repository.tooltip")'></i></th>
            <th>Requester</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th>BB <i class="glyphicon glyphicon-question-sign" rel="tooltip" title='@Messages("pullreview.list.bb.tooltip")'></i></th>
            <th>Status</th>
        </thead>
        <tbody>
        @for(review <- reviews) {
            <tr>
                <td><a href="/pullreview/@review.id/">@review.id</a></td>
                <td><a href="/pullreview/@review.id/">@review.name</a></td>
                <td>@review.repositoryId</td>
                <td>@(review.requester.name)</td>
                <td>@(utils.DateTimePattern.format(review.createdOn))</td>
                <td>@(utils.DateTimePattern.format(review.updatedOn))</td>
                <!-- TODO Link this in later -->
                <td>@review.pullRequestId</td>
                <td>TODO - Derive from Events</td>
            </tr>
        }
        </tbody>
    </table>

}
