@(review: PullReview)

@main("Pull Review: Betterrev", false, true, false, false, false) {

<h1>Pull Review Overview (#@review.pullRequestId)</h1>

@if(review.isDefaultBranch()) {
    <div class="alert alert-danger">
        Sorry, we can't merge pull reviews from the default branch.
        For more information see the <a href="/help/">help</a>.
    </div>
}

<div class="verticalSpacer"></div>

<div class="row">
    <div class="col-md-4">
        <div class="pullReviewOverview-sectionBox">
            <div class="glyphicon glyphicon-info-sign br-icon"></div>
            <div class="br-iconCaption">Key Info</div>

            <div class="pullReviewOverview-fieldName">Name</div>
            <div class="pullReviewOverview-fieldValue">@review.name</div>

            <div class="pullReviewOverview-fieldName">Repository</div>
            <div class="pullReviewOverview-fieldValue">@review.repositoryId</div>

            <div class="pullReviewOverview-fieldName pullReviewOverview-url">
                <a href="@review.pullRequestUrlForOwner()" target="_blank">BitBucket Pull Request Link</a>
            </div>

            <div class="pullReviewOverview-fieldName pullReviewOverview-url">
                <a href="@review.webrevLocation()" target="_blank">Webrev Link</a>
            </div>

            <div class="pullReviewOverview-fieldName">Description</div>
            <div class="pullReviewOverview-fieldValue">@review.description</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="pullReviewOverview-sectionBox">
            <div class="glyphicon glyphicon-user br-icon"></div>
            <div class="br-iconCaption">People</div>

            <div class="pullReviewOverview-fieldName">Requester</div>
            <div class="pullReviewOverview-fieldValue">@review.requester.name</div>

            @if(!review.isDefaultBranch()) {
            <div class="pullReviewOverview-fieldName">
                <a href="@review.mentorEmailsUrl()">Mentors</a>
            </div>
            <ul>
                @for(mentor <- review.mentors) {
                <li>@mentor.name (@mentor.email)</li>
                }
            </ul>
            }
        </div>

        <div class="verticalSpacer"></div>

        <div class="pullReviewOverview-sectionBox">
            <div class="glyphicon glyphicon-tags br-icon"></div>
            <div class="br-iconCaption">Tags</div>

            <ul>
                @for(tag <- review.tags) {
                <li>@tag.name</li>
                }
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="pullReviewOverview-sectionBox">
            <div class="glyphicon glyphicon-time br-icon"></div>
            <div class="br-iconCaption">Timeline</div>

            <div class="pullReviewOverview-fieldName">Status</div>
            <div class="pullReviewOverview-fieldValue">
                <div class="pullReviewStatus @review.state">
                    @review.state
                </div>
            </div>

            <div class="pullReviewOverview-fieldName">Created On</div>
            <div class="pullReviewOverview-fieldValue">@(utils.DateTimePattern.format(review.createdOn))</div>

            <div class="pullReviewOverview-fieldName">Last Updated On</div>
            <div class="pullReviewOverview-fieldValue">@(utils.DateTimePattern.format(review.updatedOn))</div>

            <div class="pullReviewOverview-fieldName">Events</div>

            <ul>
                @for(pullReviewEvent <- review.pullReviewEvents) {
                <li>@pullreviewevent(pullReviewEvent)</li>
                }
            </ul>
        </div>
    </div>
</div>

}
